<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/images/ComputerShopAdminSmall.jfif}" style="width: 75px; height: 75px;" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">
				
				<th:block sec:authorize="hasAuthority('Admin')">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/users}">Users</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/users/new}">Create New</a>
						<a class="dropdown-item" th:href="@{/users}">View All</a>
					</div>
				</li>						
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/categories}">Categories</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/categories/new}">Create New</a>
						<a class="dropdown-item" th:href="@{/categories}">View All</a>
					</div>						
				</li>		
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						 th:href="@{/brands}">Brands</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/brands/new}">Create New</a>
						<a class="dropdown-item" th:href="@{/brands}">View All</a>
					</div>						 
				</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/products}">Products</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/products/new}" 
							sec:authorize="hasAnyAuthority('Admin', 'Editor')">Create New</a>
						<a class="dropdown-item" th:href="@{/products}">View All</a>
						
						<a class="dropdown-item" sec:authorize="hasAuthority('Admin')"
							th:href="@{/reviews}">Reviews</a>
					</div>
				</li>
				</th:block>

				<th:block sec:authorize="hasAuthority('Assistant')">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/reviews}">Reviews</a>
				</li>
				</th:block>
								
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/customers}">Customers</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" th:href="@{/shipping_rates}">Shipping Rates</a>
				</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/orders}">Orders</a>
				</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/reports}">Sales Report</a>
				</li>	
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/articles}">Articles</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" th:href="@{/menus}">Menus</a>
				</li>
				</th:block>
				
				<li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" 
						th:href="@{/settings}">Settings</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/settings#general}">General</a>
						<a class="dropdown-item" th:href="@{/settings#countries}">Countries</a>
						<a class="dropdown-item" th:href="@{/settings#states}">States</a>
						<a class="dropdown-item" th:href="@{/settings#mailServer}">Mail Server</a>
						<a class="dropdown-item" th:href="@{/settings#mailTemplate}">Mail Templates</a>
						<a class="dropdown-item" th:href="@{/settings#payment}">Payment</a>
					</div>
				</li>
				<li>
					<span class="fas fa-user fa-2x icon-silver ms-auto"></span>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/account}" 
						sec:authentication="principal.fullname"></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" id="logoutLink" href="">Logout</a>
					</div>
				</li>										
			</ul>
		</div>
		
	</nav>
</div>
</body>
</html>